<!DOCTYPE html>
<div class="container">
    <main class="centralising-wrapper">
        <a href="/">
            <img src="/images/testlogo.png" alt="Test Logo" class="site-logo">
        </a>
        <h1>Basic Passkey Auth</h1>
    
        <section>
            <p class="site-intro">
                Die Webseite ist ein Basic Projekt von Franz .-.
                Es zeigt wie man einen Passkey Auth Flow mit Express.js umsetzt. Keine Garantie für die Sicherheit xd 
            </p>
    
            <div class="auth-options">
                <a href="/login" class="button-link">Login</a>
                <a href="/register" class="button-link">Register</a>
            </div>
        </section>
    </main>
</div>